[submodule "ruby/emacs-rails"]
	path = ruby/emacs-rails
	url = git://github.com/tomtt/emacs-rails.git
[submodule "ruby/ruby-emacs"]
	path = ruby/ruby-emacs
	url = git://github.com/smtlaissezfaire/ruby-emacs.git
[submodule "magit"]
	path = magit
	url = git://gitorious.org/magit/mainline.git
[submodule "ruby/rinari"]
	path = ruby/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "jump"]
	path = jump
	url = git://github.com/eschulte/jump.el.git
[submodule "ruby/rhtml"]
	path = ruby/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "jabber"]
	path = jabber
	url = git://emacs-jabber.git.sourceforge.net/gitroot/emacs-jabber/emacs-jabber
