[submodule "ruby/emacs-rails"]
	path = ruby/emacs-rails
	url = git://github.com/remvee/emacs-rails.git
[submodule "ruby/ruby-emacs"]
	path = ruby/ruby-emacs
	url = git://github.com/smtlaissezfaire/ruby-emacs.git
[submodule "magit"]
	path = magit
	url = git://gitorious.org/magit/mainline.git
[submodule "ruby/rinari"]
	path = ruby/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "jump"]
	path = jump
	url = git://github.com/eschulte/jump.el.git
[submodule "ruby/rhtml"]
	path = ruby/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "jabber"]
	path = jabber
	url = git://emacs-jabber.git.sourceforge.net/gitroot/emacs-jabber/emacs-jabber
[submodule "lisp/clojure-mode"]
	path = lisp/clojure-mode
	url = git://github.com/jochu/clojure-mode.git
[submodule "lisp/swank-clojure"]
	path = lisp/swank-clojure
	url = git://github.com/jochu/swank-clojure.git
[submodule "lisp/slime"]
	path = lisp/slime
	url = git://git.boinkor.net/slime.git
[submodule "etest"]
	path = etest
	url = git://github.com/philjackson/etest.git
[submodule "mozrepl"]
	path = mozrepl
	url = git://github.com/bard/mozrepl.git
[submodule "google-translate"]
	path = google-translate
	url = git://github.com/andreo/google-translator.git
[submodule "cedet"]
	path = cedet
	url = git://github.com/emacsmirror/cedet.git
[submodule "emacs-w3m"]
	path = emacs-w3m
	url = git://github.com/sjatkinson/emacs-w3m.git
[submodule "nxhtml"]
	path = nxhtml
	url = git://github.com/emacsmirror/nxhtml.git
[submodule "emacs-jabber"]
	path = emacs-jabber
	url = git://emacs-jabber.git.sourceforge.net/gitroot/emacs-jabber/emacs-jabber
[submodule "org-mode"]
	path = org-mode
	url = git://orgmode.org/org-mode.git
